* {
  margin: 0;
  padding: 0;
}

body { 
  background-color: #000;
  color: #fff;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#titulo {
  text-align: center;
}

.tarjeta {
  width: 10rem;
  height: 10rem;
  background-color: azure;
  color: #000;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

#mostrarTodosLosMedicos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
